<!DOCTYPE html>
<html>
<head>
    <title>PHP Backbone.js Example</title>
    <style>
        ul {list-style: none;}
        ul > li {display: inline-block; padding-top: 10px; padding-left: 50px;}
    </style>
</head>
<body>

    <div id="container"></div>

    <script type="text/template" id="backbone-template">
        <ul class="shop-grid"> 
            <% if (shop) {
                _.each(shop, function (data) { %>
                    <li class="shop-grid__item">
                        Brand: <%- data.brand %><br />
                        Category: <%- data.category %><br />
                        Price: <%- data.price %><br />
                    </li>
                <% });
            } %>
        </ul>
    </script>

    <!-- JavaScript -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="../js/shop.js"></script>

</body>
</html>